<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <button type="button" class="btn btn-dark btn-sm btn-block"><h5 class="card-title">Card title</h5></button>
      <ol>
        <li>Link</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>
</div>
